<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body class="container" style="max-width: 450px; margin-top: 80px;">

<h2 class="text-center">Forgot Password</h2>
<hr>

<p class="text-success" th:if="${successMessage}" th:text="${successMessage}"></p>
<p class="text-danger" th:if="${errorMessage}" th:text="${errorMessage}"></p>

<form method="POST" th:action="@{/forgot-password}">
    <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required placeholder="Enter your email">
    </div>

    <div class="form-group">
        <label>New Password</label>
        <input type="password" name="newPassword" class="form-control" required placeholder="Enter new password">
    </div>

    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
</form>

<br>
<p><a th:href="@{/login}">Back to Login</a></p>

</body>
</html>